.signup-form {
  min-width: 60rem;
  background-color: var(--color-background);

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: var(--spacing-lg);
  }

  &__line {
    position: relative;
    margin: var(--spacing-xl) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__line-text {
    flex: 20%;
    text-align: center;
    font-weight: var(--weight-medium);
    color: var(--color-text-light);
  }

  &__seperator {
    width: 50%;
    height: 2px;
    background-color: var(--color-theme);
  }

  &__form > * {
    margin-bottom: var(--spacing-lg);
  }

  &__error {
    display: block;
    color: var(--coral-300);
    margin-bottom: var(--spacing-lg);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--button-padding-v-lg) var(--button-padding-h-lg);
    border-radius: var(--button-radius-lg);
    border: var(--border);
  }

  &__bottom-text {
    margin-right: var(--spacing-xs);
    font-weight: var(--weight-medium);
    color: var(--color-text-light);
  }

  &__bottom-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--cyan-300);
    font-weight: var(--weight-medium);
  }

  &__bottom-link:hover {
    color: var(--cyan-400);
  }
}
