.set-form {
  &__form {
    margin-top: var(--spacing-lg);
  }

  &__form > *:not(:last-child) {
    margin-bottom: var(--spacing-lg);
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cards > *:not(:first-child) {
    margin-top: var(--spacing-sm);
  }

  &__add-card-btn {
    cursor: pointer;
    padding: var(--spacing-xs);
    outline: none;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-size: var(--size-lg);
    font-weight: var(--weight-medium);
    border-bottom: 4px solid var(--cyan-300);
    transition: border-color var(--duration-short) ease-out;
  }

  &__add-card-btn:hover {
    border-color: var(--gold-300);
  }

  &__error {
    margin: var(--spacing-md) 0;
    display: block;
    color: var(--coral-300);
  }
}
