.settings {
  &__heading {
    margin-right: var(--spacing-xxl);
    min-width: 20rem;
    border-right: var(--border-narrow);
    font-weight: var(--weight-medium);
    color: var(--color-text);
    padding: var(--spacing-xl);
  }

  &__main {
    margin-top: var(--spacing-xxl);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__field {
    margin: var(--spacing-md) 0;
    padding: var(--spacing-xs);
    display: flex;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-big);
    background-color: var(--color-background);
  }

  &__component {
    padding: var(--spacing-xl);
  }
}
