.social-btn {
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: center;
  border: var(--border);
  outline: none;
  background-color: var(--color-background);
  color: var(--color-text-light);

  &--sm {
    font-size: var(--size-md);
    border-radius: var(--button-radius-md);
    padding: var(--button-padding-v-md) var(--button-padding-h-md);
  }

  &--lg {
    font-size: var(--size-lg);
    border-radius: var(--button-radius-lg);
    padding: var(--button-padding-v-lg) var(--button-padding-h-lg);
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__icon--sm {
    left: 2rem;
    width: 2.4rem;
    height: 2.4rem;
  }

  &__icon--lg {
    left: 6rem;
    width: 3.2rem;
    height: 3.2rem;
  }
}
