.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: var(--weight-medium);
  transition: all var(--duration-short) ease-out;

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-button-text);
  }

  &--primary:hover {
    background-color: var(--color-primary-dark);
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: var(--color-button-text);
  }

  &--secondary:hover {
    background-color: var(--color-secondary-dark);
  }

  &--theme {
    background-color: var(--color-theme);
    color: var(--color-text);
  }

  &--theme:hover {
    background-color: var(--color-theme-dark);
  }

  &--none {
    background-color: transparent;
    color: var(--color-text-light);
  }

  &--no-outline {
    background-color: transparent;
    color: var(--color-text);
  }

  &--no-outline:hover {
    color: var(--color-secondary);
  }

  &--coral {
    background-color: var(--coral-300);
    color: var(--neutral-100);
  }

  &--coral:hover {
    background-color: var(--coral-500);
  }

  &--block {
    max-width: 60rem;
    width: 100%;

    @include tablet-lg {
      max-width: 100%;
    }
  }

  &--xs {
    min-width: 8rem;
    font-size: var(--size-sm);
    border-radius: var(--button-radius-sm);
    padding: var(--button-padding-v-xs) var(--button-padding-h-xs);
  }

  &--sm {
    min-width: 10rem;
    font-size: var(--size-sm);
    border-radius: var(--button-radius-sm);
    padding: var(--button-padding-v-sm) var(--button-padding-h-sm);
  }

  &--md {
    min-width: 14rem;
    font-size: var(--size-md);
    border-radius: var(--button-radius-md);
    padding: var(--button-padding-v-md) var(--button-padding-h-md);
  }

  &--lg {
    min-width: 20rem;
    font-size: var(--size-lg);
    border-radius: var(--button-radius-lg);
    padding: var(--button-padding-v-lg) var(--button-padding-h-lg);
  }
}

.button-loader {
  border: 4px solid rgba(255, 255, 255, 0.35);
  border-left: 4px solid;
  animation: rotate 1s infinite linear;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
