.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: var(--weight-medium);
  transition: all var(--duration-short) ease-out;

  &--cyan {
    background-color: var(--cyan-400);
    color: var(--neutral-100);
  }

  &--cyan:hover {
    background-color: var(--cyan-300);
  }

  &--gold {
    background-color: var(--gold-300);
    color: var(--neutral-100);
  }

  &--gold:hover {
    background-color: var(--gold-400);
  }

  &--neutral {
    background-color: var(--neutral-300);
    color: var(--ink-100);
  }

  &--neutral:hover {
    background-color: var(--neutral-400);
  }

  &--ink {
    background-color: var(--ink-300);
    color: var(--neutral-100);
  }

  &--ink:hover {
    background-color: var(--ink-100);
  }

  &--coral {
    background-color: var(--coral-300);
    color: var(--neutral-100);
  }

  &--coral:hover {
    background-color: var(--coral-500);
  }

  &--none {
    background-color: transparent;
    color: var(--neutral-100);
  }

  &--none:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }

  &--block {
    max-width: 60rem;
    width: 100%;
  }

  &--xs {
    min-width: 8rem;
    font-size: var(--size-sm);
    border-radius: var(--button-radius-sm);
    padding: var(--button-padding-v-xs) var(--button-padding-h-xs);
  }

  &--sm {
    min-width: 10rem;
    font-size: var(--size-sm);
    border-radius: var(--button-radius-sm);
    padding: var(--button-padding-v-sm) var(--button-padding-h-sm);
  }

  &--md {
    min-width: 14rem;
    font-size: var(--size-md);
    border-radius: var(--button-radius-md);
    padding: var(--button-padding-v-md) var(--button-padding-h-md);
  }

  &--lg {
    min-width: 20rem;
    font-size: var(--size-lg);
    border-radius: var(--button-radius-lg);
    padding: var(--button-padding-v-lg) var(--button-padding-h-lg);
  }
}

.button-loader {
  border: 4px solid rgba(255, 255, 255, 0.35);
  border-left: 4px solid;
  animation: rotate 1s infinite linear;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
