.image-field {
  &__field {
    display: none;
  }

  &__label {
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--neutral-500);
    border-radius: var(--radius-sm);
    overflow: hidden;
  }

  &__label:hover &__icon {
    fill: var(--gold-300);
  }

  &__preview {
    width: 100%;
  }

  &__icon {
    width: 32px;
    height: 32px;
    transition: fill var(--duration-short) ease-out;
  }
}
