.image-field {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__field {
    display: none;
  }

  &__label {
    cursor: pointer;
    font-size: var(--size-xxs);
    font-weight: var(--weight-medium);
    color: var(--teal-300);

    @include tablet-sm {
      font-size: var(--size-md);
    }
  }

  &__label:hover {
    color: var(--gold-300);
  }

  &__preview {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    border: var(--border);
    overflow: hidden;

    @include tablet-sm {
      width: 12rem;
      height: 12rem;
    }
  }

  &__image {
    width: 100%;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: var(--color-text-light);
    transition: fill var(--duration-short) ease-out;
  }
}
