.dashboard {
  display: flex;

  @include tablet-lg {
    flex-direction: column;
  }

  &__sidebar {
    min-width: 18rem;
    width: 20rem;
    padding-right: var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include tablet-lg {
      width: 100%;
      padding-right: 0;
    }
  }

  &__create-btn,
  &__create-btn:link,
  &__create-btn:active {
    width: 100%;
    padding: var(--spacing-sm) 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: var(--weight-bold);
    border-radius: var(--radius-sm);
    background-color: var(--color-primary);
    color: var(--color-button-text);

    @include tablet-lg {
      padding: var(--spacing-md) 0;
      font-size: var(--size-lg);
    }
  }

  &__sidebar-list {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-xs);
    list-style: none;
    font-weight: var(--weight-bold);

    @include tablet-lg {
      flex-direction: row;
      margin: var(--spacing-xl) 0;
    }
  }

  &__sidebar-item {
    cursor: pointer;
    padding: var(--spacing-sm) var(--spacing-md);
    display: flex;
    align-items: center;
    border-radius: var(--radius-sm);
    color: var(--color-text-light);
    transition: all var(--duration-short) ease-out;

    @include tablet-lg {
      font-size: var(--size-lg);
    }
  }

  &__sidebar-item:hover {
    background-color: var(--neutral-400);
    color: var(--ink-200);
  }

  &__sidebar-item:hover &__sidebar-icon {
    fill: var(--ink-200);
  }

  &__sidebar-icon {
    margin-right: var(--spacing-sm);
    width: 24px;
    height: 24px;
    fill: var(--color-text-light);
  }

  &__main {
    flex: 1;
    padding-left: var(--spacing-md);

    @include tablet-lg {
      padding-left: 0;
    }
  }
}
