.search {
  max-width: 80rem;
  margin: 0 auto;

  &__keyword {
    margin-bottom: var(--spacing-lg);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
  }

  &__sort {
    cursor: pointer;
    width: 16rem;
    padding: var(--spacing-xs);
    outline: none;
    border: none;
    border-radius: var(--radius-sm);
    font-weight: var(--weight-medium);
    background-color: var(--neutral-100);
  }

  &__main {
    margin-top: var(--spacing-lg);
  }
}
