.search {
  max-width: 80rem;
  margin: 0 auto;

  &__keyword {
    margin-bottom: var(--spacing-lg);
  }

  &__count {
    font-size: var(--size-md);
    font-weight: var(--weight-regular);
    color: var(--ink-100);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
  }

  &__sorts {
    display: flex;
  }

  &__sort-btn {
    margin-left: 1rem;
    outline: none;
    border: none;
    background: transparent;
    font-weight: var(--weight-bold);
    color: var(--ink-100);
    cursor: pointer;
    transition: color var(--duration-short) linear;
  }

  &__sort-btn:hover {
    color: var(--gold-300);
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main > * {
    margin-bottom: var(--spacing-md);
  }

  &__end-of-results {
    color: var(--ink-100);
  }
}
