.edit-set {
  &__description {
    margin-top: var(--spacing-md);
    color: var(--color-text-light);
  }

  &__cards {
    margin-top: var(--spacing-xl);
  }

  &__count {
    font-size: var(--size-xs);
    font-weight: var(--weight-regular);
    color: var(--color-text-light);
  }

  &__cards-title {
    margin-bottom: var(--spacing-md);
    font-weight: var(--weight-medium);
    color: var(--color-text-light);
  }

  &__cards-list {
    margin-bottom: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-bottom: var(--border);
  }

  &__cards-list > *:not(:first-child) {
    margin-top: var(--spacing-md);
  }

  &__add-card {
    border: var(--border);
    border-radius: var(--radius-sm);
  }
}
