.edit-set {
  &__set {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  &__set-top {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-right: var(--spacing-md);
  }

  &__privacy {
    font-weight: var(--weight-bold);
    color: var(--color-primary);
  }

  &__description {
    margin-top: var(--spacing-md);
    color: var(--color-text-light);
  }

  &__cards {
    margin-top: var(--spacing-xl);
  }

  &__count {
    font-size: var(--size-xs);
    font-weight: var(--weight-regular);
    color: var(--color-text-light);
  }

  &__cards-title {
    margin-bottom: var(--spacing-md);
    font-weight: var(--weight-medium);
    color: var(--color-text-light);
  }

  &__cards-list {
    margin-bottom: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-bottom: var(--border);
  }

  &__cards-list > *:not(:first-child) {
    margin-top: var(--spacing-md);
  }

  &__add-card {
    margin-top: var(--spacing-xxl);
    border-radius: var(--radius-sm);
  }
}
