.card-field-group {
  align-self: stretch;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--neutral-100);
  box-shadow: var(--shadow);

  &__top {
    padding: var(--spacing-xxs) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--size-lg);
    color: var(--neutral-500);
    border-bottom: 2px solid var(--neutral-300);
  }

  &__delete-btn {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

  &__delete-btn:hover &__delete-icon {
    fill: var(--coral-300);
  }

  &__delete-icon {
    width: 24px;
    height: 24px;
    fill: var(--ink-100);
    transition: fill var(--duration-short) ease-out;
  }

  &__form {
    margin-top: var(--spacing-sm);
    display: flex;
  }

  &__form > *:not(:last-child) {
    margin-right: var(--spacing-md);
  }
}
