.authbox {
  width: 64rem;
  border-radius: var(--radius-lg);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-md);
    background-color: var(--color-primary-darker);
  }

  &__title {
    font-weight: var(--weight-medium);
    color: var(--neutral-100);
  }

  &__close-btn {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__close-icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: var(--neutral-100);
  }

  &__body {
    padding: var(--spacing-lg);
    background-color: var(--color-background);
  }
}
