.writing-cards {
  user-select: none;
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  max-height: 45rem;
  width: 70rem;
  height: 39.375rem;

  &__stack {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__progress-bar {
    position: relative;
    align-items: stretch;
    width: 100%;
    height: 5px;
    border-radius: 100px;
    background-color: var(--neutral-400);
    overflow: hidden;
  }

  &__progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100px;
    background-color: var(--cyan-300);
    transition: width var(--duration-short) linear;
  }
}
