.writing-cards {
  user-select: none;
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  max-height: 60rem;
  width: 76rem;
  height: 42.75rem;

  &__stack {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__done {
    position: relative;
    padding: var(--spacing-xxl);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg);
    background-color: var(--color-background);
    box-shadow: var(--shadow-big);
  }

  &__done > *:last-child {
    margin-top: var(--spacing-xl);
  }

  &__done-text {
    margin-bottom: var(--spacing-xl);
    text-transform: uppercase;
  }

  &__result {
    align-self: stretch;
    padding: var(--spacing-md) 0;
    display: flex;
    font-size: var(--size-xl);
    font-weight: var(--weight-medium);
  }

  &__result:not(:last-child) {
    border-bottom: var(--border);
  }

  &__result--correct {
    color: var(--cyan-300);
  }

  &__result--incorrect {
    color: var(--coral-300);
  }

  &__result-title {
    text-transform: uppercase;
  }

  &__result-progress {
    margin-left: auto;
  }

  &__progress-bar {
    position: relative;
    align-items: stretch;
    width: 100%;
    height: 5px;
    border-radius: 100px;
    background-color: var(--color-progress-outer);
    overflow: hidden;
  }

  &__progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100px;
    background-color: var(--color-progress-inner);
    transition: width var(--duration-short) linear;
  }

  &__results {
    margin-top: var(--spacing-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
