.set-item {
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: var(--color-background);
  border: none;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow);

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--gold-200);
    transition: height var(--duration-base) ease-out;
  }

  &:hover::before {
    height: 4px;
  }

  &__main {
    padding: var(--spacing-md);
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__num-of-terms {
    color: var(--color-text-light);
  }

  &__user,
  &__user:link,
  &__user:active {
    margin-left: var(--spacing-xl);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--teal-300);
    font-weight: var(--weight-bold);
    transition: color var(--duration-long) ease-out;
  }

  &__user:hover {
    color: var(--color-secondary);
  }

  &__profile-image {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }

  &__fullname {
    margin-left: var(--spacing-sm);
    font-weight: var(--weight-medium);
  }

  &__date {
    margin-left: auto;
    color: var(--color-text-light);
  }

  &__title {
    margin-top: var(--spacing-sm);
    color: var(--color-text);
  }

  &__description {
    margin-top: var(--spacing-sm);
    color: var(--color-text-light);
  }

  &__preview-terms {
    display: flex;
    align-items: center;
    border-top: var(--border-narrow);
  }

  &__preview {
    flex: 1 1 0;
    padding: var(--spacing-md);
    display: flex;
    align-items: center;
    color: var(--color-text-light);
    font-size: var(--size-sm);
  }

  &__preview:not(:last-child) {
    border-right: var(--border-narrow);
  }

  &__term {
    margin-bottom: var(--spacing-xs);
    font-weight: var(--weight-medium);
    color: var(--color-text);
  }

  &__image-container {
    margin-right: var(--spacing-md);
    width: 6rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }
}
