.signup {
  margin: 0 auto;
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet-sm {
    padding: 0 var(--spacing-md);
  }

  @include mobile-lg {
    width: 100%;
  }

  &__logo,
  &__logo:active {
    margin-top: var(--spacing-xxl);
    font-family: 'Recursive', sans-serif;
    font-size: var(--size-xxl);
    font-weight: '900';
    text-decoration: none;
    color: var(--teal-300);
  }

  &__title {
    margin-top: var(--spacing-xxl);
    margin-bottom: var(--spacing-lg);
    width: 100%;
    border-bottom: 5px solid var(--gold-300);
    color: var(--color-text-light);
  }
}
