.main {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 8rem;

  @include tablet-lg {
    width: 100%;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }
}
