.card-form {
  align-self: stretch;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--color-background);
  box-shadow: var(--shadow);
  transition: all var(--duration-base) ease-out;

  &:hover {
    box-shadow: var(--shadow-big);
  }

  &__top {
    padding-bottom: var(--spacing-sm);
    font-size: var(--size-xs);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    color: var(--color-text);
    border-bottom: var(--border-narrow);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__forms > * {
    margin-top: var(--spacing-md);
  }

  &__fields {
    padding: var(--spacing-md) 0;
    display: flex;

    @include tablet-sm {
      flex-direction: column;
    }
  }

  &__fields > *:not(:last-child) {
    margin-right: var(--spacing-md);

    @include tablet-sm {
      margin-right: 0;
      margin-bottom: var(--spacing-xl);
    }
  }

  &__buttons {
    align-self: flex-end;
    display: flex;

    @include tablet-sm {
      margin-top: var(--spacing-xl);
      align-self: stretch;

      button {
        flex: 1;
      }
    }
  }

  &__buttons > *:first-child {
    margin-right: var(--spacing-sm);
  }
}
