.card-form {
  align-self: stretch;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--color-background);
  box-shadow: var(--shadow);
  transition: all var(--duration-base) ease-out;

  &:hover {
    box-shadow: var(--shadow-big);
  }

  &__top {
    padding-bottom: var(--spacing-sm);
    font-size: var(--size-xs);
    font-weight: var(--weight-medium);
    text-transform: uppercase;
    color: var(--neutral-500);
    border-bottom: var(--border-narrow);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__forms > * {
    margin-top: var(--spacing-md);
  }

  &__fields {
    padding: var(--spacing-md) 0;
    display: flex;
  }

  &__fields > *:not(:last-child) {
    margin-right: var(--spacing-md);
  }

  &__buttons {
    align-self: flex-end;
    display: flex;
  }

  &__buttons > *:first-child {
    margin-right: var(--spacing-sm);
  }
}
