.set-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__keyword {
    margin-bottom: var(--spacing-xl);
  }

  &__count {
    font-size: var(--size-md);
    font-weight: var(--weight-regular);
    color: var(--color-text-light);
  }

  &__top {
    margin-bottom: var(--spacing-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
  }

  &__sorts {
    display: flex;
  }

  &__sort-btn {
    padding-left: var(--spacing-sm);
    outline: none;
    border: none;
    background: transparent;
    font-weight: var(--weight-bold);
    color: var(--color-text-light);
    cursor: pointer;
    transition: color var(--duration-short) linear;
  }

  &__sort-btn:not(:last-child) {
    padding-right: var(--spacing-sm);
    border-right: 2px solid var(--neutral-400);
  }

  &__sort-btn:hover {
    color: var(--gold-300);
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main > * {
    margin-bottom: var(--spacing-md);
  }

  &__list {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__list > *:not(:last-child) {
    margin-bottom: var(--spacing-md);
  }

  &__end-of-results {
    color: var(--color-text-light);
  }
}
