.set {
  padding: var(--spacing-xxl) var(--spacing-page-h);

  &__info {
  }

  &__description {
    margin-top: var(--spacing-sm);
    color: var(--ink-100);
  }

  &__container {
    margin-top: var(--spacing-xxl);
    display: flex;
  }

  &__sidebar {
    width: 20rem;
    padding-right: var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__sidebar-item {
    cursor: pointer;
    padding: var(--spacing-sm) var(--spacing-md);
    display: flex;
    align-items: center;
    border-radius: var(--radius-sm);
    color: var(--ink-100);
    transition: all var(--duration-base) ease-out;
  }

  &__sidebar-item:hover {
    background-color: var(--gold-200);
    color: var(--ink-200);
  }

  &__sidebar-icon {
    margin-right: var(--spacing-sm);
    width: 24px;
    height: 24px;
    fill: var(--cyan-400);
  }

  &__sidebar-label {
    font-weight: var(--weight-medium);
  }
}
