.set {
  &__title {
    color: var(--color-text);

    @include tablet-sm {
      font-size: var(--size-xl);
    }
  }

  &__description {
    margin-top: var(--spacing-sm);
    color: var(--color-text-light);
  }

  &__container {
    margin-top: var(--spacing-xxl);
    display: flex;

    @include tablet-lg {
      margin-top: var(--spacing-sm);
      flex-direction: column;
    }
  }

  &__sidebar {
    min-width: 18rem;
    width: 20rem;
    padding-right: var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include tablet-lg {
      width: 100%;
      margin-bottom: var(--spacing-sm);
      padding-right: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__sidebar-item {
    cursor: pointer;
    padding: var(--spacing-sm) var(--spacing-md);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: var(--radius-sm);
    color: var(--color-text-light);
    transition: all var(--duration-short) ease-out;
  }

  &__sidebar-item:hover {
    background-color: var(--neutral-300);
    color: var(--ink-200);
  }

  &__sidebar-item--active {
    background-color: var(--teal-200);
  }

  &__sidebar-icon {
    margin-right: var(--spacing-sm);
    width: 24px;
    height: 24px;
    fill: var(--teal-400);
  }

  &__sidebar-label {
    font-weight: var(--weight-medium);
  }

  &__main {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet-lg {
      height: auto;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-top: calc(2.5 * var(--spacing-xl));
  }

  &__user {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__user:hover &__name {
    color: var(--color-secondary);
  }

  &__image-container {
    width: 5.12rem;
    height: 5.12rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__text {
    margin-left: var(--spacing-sm);
    display: flex;
    flex-direction: column;
  }

  &__created-by {
    font-size: var(--size-xs);
    color: var(--color-text-light);
  }

  &__name {
    font-weight: var(--weight-medium);
    color: var(--teal-300);
    transition: color var(--duration-short) ease-out;
  }

  &__tools {
    margin-left: auto;
  }

  &__tools > *:not(:last-child) {
    margin-right: var(--spacing-md);
  }
}
