.field-group {
  min-width: 32rem;
  max-width: 62rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__field {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__field--sm {
    font-size: var(--size-sm);
  }

  &__field--md {
    font-size: var(--size-md);
  }

  &__field--lg {
    font-size: var(--size-lg);
  }

  &__label {
    position: relative;
    margin-top: var(--spacing-xs);
    padding-top: var(--spacing-sm);
    font-size: var(--size-xxs);
    font-weight: var(--weight-medium);
    text-transform: uppercase;
    color: var(--ink-100);
  }

  &__label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--ink-100);
    width: 100%;
    height: 2px;
    z-index: 1;
    transition: all var(--duration-base) linear;
  }

  &__label--error {
    color: var(--coral-300);
  }

  &__label--error::before {
    background-color: var(--coral-200);
  }

  &__field:focus ~ &__label::before {
    height: 3px;
    background-color: var(--gold-300);
  }

  &__field:focus ~ &__label--error::before {
    height: 3px;
    background-color: var(--coral-300);
  }
}
