.profile-text-form {
  &__form {
    padding: var(--spacing-sm);
    display: flex;
    align-items: center;
    border: var(--border);
    border-radius: var(--radius-sm);
  }

  &__form > *:last-child {
    margin-left: var(--spacing-md);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__buttons > *:last-child {
    margin-top: var(--spacing-xs);
  }

  &__field {
    display: flex;
    align-items: center;
  }

  &__label {
    width: 12rem;
    font-weight: var(--weight-medium);
  }

  &__value {
    min-width: 20rem;
    max-width: 26rem;
  }
}
