.profile-text-form {
  &__form {
    padding: var(--spacing-sm);
    display: flex;
    align-items: center;
    border: var(--border);
    border-radius: var(--radius-sm);

    @include tablet-lg {
      margin-top: var(--spacing-xxl);
      flex-direction: column;
    }
  }

  &__form > *:last-child {
    margin-left: var(--spacing-md);
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @include tablet-lg {
      margin-top: var(--spacing-lg);
      flex-direction: row;
    }
  }

  &__buttons > *:last-child {
    margin-top: var(--spacing-xs);
  }

  &__field {
    display: flex;
    align-items: center;

    @include tablet-lg {
      margin-top: var(--spacing-xxl);
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__field > *:not(:first-child) {
    @include tablet-lg {
      margin-top: var(--spacing-xs);
    }
  }

  &__label {
    width: 12rem;
    font-weight: var(--weight-medium);
  }

  &__value {
    min-width: 20rem;
    max-width: 26rem;

    @include tablet-lg {
      width: 100%;
      font-size: var(--size-lg);
    }
  }
}
