.card-overview-item {
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--radius-sm);
  background-color: var(--neutral-100);
  box-shadow: var(--shadow);
  transition: all var(--duration-base) ease-out;

  &:hover {
    box-shadow: var(--shadow-big);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__id {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-xs);
    font-weight: var(--weight-bold);
    border-radius: 50%;
    background-color: var(--cyan-300);
    color: var(--neutral-100);
  }

  &__tools {
    display: flex;
  }

  &__tools > *:not(:last-child) {
    margin-right: var(--spacing-sm);
  }

  &__main {
    margin-top: var(--spacing-md);
    display: flex;
    align-items: center;
  }

  &__text {
    flex: 1;
    color: var(--ink-100);
  }

  &__term {
    font-weight: var(--weight-bold);
  }

  &__attach {
    font-size: var(--size-sm);
    color: var(--cyan-300);
  }
}
