.forgotten {
  height: 90vh;
  padding-top: 12rem;
  position: relative;
  display: flex;
  justify-content: center;

  &__left,
  &__right {
    position: absolute;
    bottom: 20%;
  }

  &__left {
    left: var(--spacing-xl);
  }

  &__right {
    right: var(--spacing-xl);
  }
}
