.checkbox {
  font-size: var(--size-xs);
  font-weight: var(--weight-medium);
  text-transform: uppercase;

  &__label {
    color: var(--ink-100);
  }

  &__input {
    display: none;
  }

  &__option {
    user-select: none;
    cursor: pointer;
    color: var(--cyan-300);
    font-size: var(--weight-bold);
  }

  &__option:hover {
    color: var(--gold-300);
  }
}
