.checkbox {
  font-size: var(--size-xs);
  font-weight: var(--weight-bold);

  &__label {
    color: var(--color-text-light);
    text-transform: uppercase;
  }

  &__input {
    display: none;
  }

  &__option {
    user-select: none;
    cursor: pointer;
    color: var(--teal-300);
    font-size: var(--weight-bold);
  }

  &__option:hover {
    color: var(--gold-300);
  }
}
