.forgotten-form {
  width: 60rem;

  & > * {
    margin-bottom: var(--spacing-lg);
  }

  &__form {
    margin-top: var(--spacing-xxl);
  }

  &__form > * {
    margin-bottom: var(--spacing-lg);
  }

  &__message {
    font-weight: var(--weight-medium);
  }
}
