.overlay {
  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
