.overlay {
  &__backdrop {
    position: absolute;
    top: -6rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-index-9);
  }

  &__box {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-index-10);
  }
}
