.landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: calc(100vh - 6rem);
  background-color: var(--color-landing);
  color: var(--color-text);

  @include tablet-lg {
    flex-direction: column;
    height: auto;
  }

  &--lock {
    width: calc(100% - 15px);
  }

  &__hero {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16rem;
    padding-left: 16rem;

    @include tablet-sm {
      padding-top: 8rem;
      padding-left: 4rem;
      padding-bottom: var(--spacing-xxl);
    }
  }

  &__hero > *:not(:last-child) {
    margin-bottom: var(--spacing-xxl);
  }

  &__title {
    font-size: var(--size-xxl);
    line-height: 1.4;
    letter-spacing: 0.2rem;
    color: var(--neutral-100);
  }

  &__description {
    font-size: var(--size-lg);
    letter-spacing: 0.15rem;
    color: var(--neutral-100);
  }

  &__carousel {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-container {
    align-self: stretch;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__text {
    margin-top: var(--spacing-xxl);
    font-weight: var(--weight-medium);
    font-size: var(--size-xl);
    color: var(--neutral-100);
  }

  &__quote {
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-xxl);
    font-size: var(--size-lg);
    color: var(--neutral-100);
  }
}
