.landing {
  display: flex;
  height: calc(100h - 6rem);
  background-color: var(--cyan-500);
  color: var(--neutral-100);

  &__hero {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16rem;
    padding-left: 16rem;
  }

  &__hero > *:not(:last-child) {
    margin-bottom: var(--spacing-xxl);
  }

  &__title {
    font-size: var(--size-xxl);
    line-height: 1.4;
    letter-spacing: 0.2rem;
  }

  &__description {
    font-size: var(--size-lg);
    letter-spacing: 0.15rem;
  }

  &__carousel {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-container {
    align-self: stretch;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__text {
    margin-top: var(--spacing-xxl);
    font-weight: var(--weight-medium);
    font-size: var(--size-xl);
  }

  &__quote {
    margin-top: var(--spacing-md);
    font-size: var(--size-lg);
  }

  &__processbar {
    position: relative;
    margin-top: var(--spacing-xxl);
    width: 100%;
    height: 0.8rem;
    background-color: rgba(0, 0, 0, 0.05);
  }

  &__processcursor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--gold-300);
  }
}
