.signin-form {
  width: 60rem;

  &__social {
    margin-bottom: var(--spacing-lg);
  }

  &__social > * {
    margin-bottom: var(--spacing-sm);
  }

  &__form > * {
    margin-bottom: var(--spacing-lg);
  }

  &__link,
  &__link:active {
    text-decoration: none;
    color: var(--cyan-300);
    font-weight: var(--weight-medium);
  }

  &__link:hover {
    color: var(--cyan-400);
  }
}
