.signin-form {
  width: 100%;
  background-color: var(--color-background);

  @include tablet-lg {
    height: 100vh;
  }

  &__social {
    margin-bottom: var(--spacing-lg);
  }

  &__social > * {
    margin-bottom: var(--spacing-sm);
  }

  &__form > *:not(:last-child) {
    margin-bottom: var(--spacing-lg);
  }

  &__link,
  &__link:active {
    text-decoration: none;
    color: var(--teal-300);
    font-weight: var(--weight-medium);
  }

  &__link:hover {
    color: var(--teal-400);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
    padding: var(--button-padding-v-lg) var(--button-padding-h-lg);
    border-radius: var(--button-radius-lg);
    border: var(--border);
  }

  &__bottom-text {
    margin-right: var(--spacing-xs);
    font-weight: var(--weight-medium);
    color: var(--color-text-light);
  }

  &__bottom-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--teal-300);
    font-weight: var(--weight-medium);
  }

  &__bottom-link:hover {
    color: var(--teal-400);
  }

}
