.signin-form {
  width: 60rem;
  background-color: var(--color-background);

  @include tablet-lg {
    width: 100%;
    height: 100vh;
  }

  &__social {
    margin-bottom: var(--spacing-lg);
  }

  &__social > * {
    margin-bottom: var(--spacing-sm);
  }

  &__form > * {
    margin-bottom: var(--spacing-lg);
  }

  &__link,
  &__link:active {
    text-decoration: none;
    color: var(--teal-300);
    font-weight: var(--weight-medium);
  }

  &__link:hover {
    color: var(--teal-400);
  }
}
