.user-profile {
  &__user {
    display: flex;
    align-items: center;
  }

  &__image-container {
    width: 12.8rem;
    height: 12.8rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__info {
    margin-left: var(--spacing-md);
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: var(--size-xl);
    font-weight: var(--weight-medium);
  }

  &__email {
    margin-top: var(--spacing-sm);
    font-size: var(--size-lg);
    color: var(--ink-100);
  }

  &__main {
    margin-top: var(--spacing-xxl);
  }
}
