.add-cards {
  padding: var(--spacing-xxl) var(--spacing-page-h);

  &__description {
    margin-top: var(--spacing-md);
    color: var(--ink-100);
  }

  &__cards {
    margin-top: var(--spacing-xl);
  }

  &__count {
    font-size: var(--size-xs);
    font-weight: var(--weight-regular);
    color: var(--ink-100);
  }

  &__cards-title {
    margin-bottom: var(--spacing-md);
    text-transform: uppercase;
    font-weight: var(--weight-bold);
    color: var(--ink-100);
  }

  &__cards-list {
    margin-bottom: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-bottom: 2px solid var(--neutral-400);
  }

  &__cards-list > *:not(:first-child) {
    margin-top: var(--spacing-md);
  }
}
