.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  padding: 0 var(--spacing-xxl);
  display: flex;
  align-items: center;
  background-color: var(--color-header-background);
  z-index: var(--z-index-2);

  @include tablet-lg {
    padding: 0 var(--spacing-md);
  }

  &--lock {
    right: 15px;
    width: calc(100% - 15px);

    @include tablet-lg {
      right: 0;
      width: 100%;
    }
  }

  &__logo,
  &__logo:active {
    font-family: 'Recursive', sans-serif;
    font-size: var(--size-xl);
    font-weight: var(--weight-bold);
    text-decoration: none;
    color: var(--neutral-100);
  }

  &__menu-icon {
    display: none;

    @include tablet-lg {
      display: flex;
      align-items: center;
      margin-left: auto;
      padding: 0;
      outline: none;
      border: none;
      background-color: transparent;
      font-size: var(--size-xxl);
      color: var(--neutral-100);
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    align-items: center;
    transition: left 0.3s ease-out;

    @include tablet-lg {
      position: fixed;
      top: 6rem;
      width: 100%;
      height: 100vh;
      padding: var(--spacing-md) var(--spacing-xxl);
      flex-direction: column;
      align-items: stretch;
      background-color: var(--color-primary-darker);
    }
  }

  &__user-mobile {
    display: none;

    @include tablet-lg {
      display: flex;
      flex-direction: column;
    }
  }

  &__search {
    position: relative;

    @include tablet-lg {
      margin-bottom: var(--spacing-md);
    }
  }

  &__search-form {
    position: relative;
    width: 28rem;
    margin-left: var(--spacing-lg);

    @include tablet-lg {
      width: 100%;
      margin-left: 0;
    }
  }

  &__search-input {
    width: 100%;
    padding: var(--input-padding-v-sm) 0;
    padding-left: var(--spacing-xxl);
    border-radius: var(--input-radius-sm);
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.35);
    transition: background-color var(--duration-short) ease-out;

    @include tablet-lg {
      font-size: var(--size-xl);
    }
  }

  &__search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
  }

  &__search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
  }

  &__search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
  }

  &__search-input:focus {
    background-color: var(--neutral-100);
  }

  &__search-input:focus ~ &__search-icon {
    fill: var(--ink-100);
  }

  &__search-icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--spacing-xs);
    fill: rgba(255, 255, 255, 0.5);
    width: 2.4rem;
    height: 2.4rem;
  }

  &__clear-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: var(--spacing-xs);
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    outline: none;
    border: none;
    background-color: var(--ink-100);
    border-radius: 50%;
  }

  &__clear-icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--neutral-100);
  }

  &__buttons {
    margin-left: auto;
    display: flex;

    @include tablet-lg {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  }

  &__buttons > *:first-child {
    margin-right: var(--spacing-md);

    @include tablet-lg {
      margin-right: 0;
      margin-bottom: var(--spacing-md);
    }
  }

  &__user {
    margin-left: auto;
    position: relative;

    @include tablet-lg {
      display: none;
    }
  }

  &__profile-image {
    cursor: pointer;
    border-radius: var(--radius-sm);
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border: var(--border-transparent);
  }

  &__profile-image--active {
    border: var(--border);
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    border-radius: var(--radius-lg);
    list-style: none;
    background-color: var(--color-background);
    border: var(--border);
  }

  &__info {
    padding: var(--spacing-sm);
    display: flex;
    align-items: center;

    @include tablet-lg {
      flex-direction: column;
    }
  }

  &__info-image {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;

    @include tablet-lg {
      width: 9.6rem;
      height: 9.6rem;
      margin-bottom: var(--spacing-sm);
    }
  }

  &__info-text {
    margin-left: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    font-size: var(--size-xs);

    @include tablet-lg {
      margin-left: 0;
      align-items: center;
    }
  }

  &__info-name {
    font-weight: var(--weight-medium);
    color: var(--color-text);

    @include tablet-lg {
      font-size: var(--size-lg);
    }
  }

  &__info-email {
    color: var(--color-text-light);

    @include tablet-lg {
      font-size: var(--size-md);
    }
  }

  &__options {
    border-top: var(--border-narrow);

    @include tablet-lg {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__link,
  &__link:link,
  &__link:active {
    cursor: pointer;
    display: block;
    padding: var(--spacing-sm) var(--spacing-md);
    text-decoration: none;
    font-size: var(--size-sm);
    font-weight: var(--weight-medium);
    color: var(--color-text-light);
    transition: all var(--duration-base) ease-out;

    @include tablet-lg {
      text-align: center;
      font-size: var(--size-lg);
    }
  }

  &__link:hover {
    background-color: var(--color-theme-hover);
  }

  &__link--coral {
    color: var(--coral-300);
  }
}
