.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  padding: 0 var(--spacing-xxl);
  display: flex;
  align-items: center;
  background-color: var(--color-header-background);
  z-index: var(--z-index-2);
  border-bottom: var(--border);

  &--lock {
    right: 15px;
    width: calc(100% - 15px);
  }

  &__logo,
  &__logo:active {
    font-family: 'Recursive', sans-serif;
    font-size: var(--size-xl);
    font-weight: var(--weight-bold);
    text-decoration: none;
    color: var(--neutral-100);
  }

  &__search {
    position: relative;
  }

  &__search-form {
    position: relative;
    width: 28rem;
    margin-left: var(--spacing-lg);
  }

  &__search-input {
    width: 100%;
    padding: var(--input-padding-v-sm) 0;
    padding-left: var(--spacing-xxl);
    border-radius: var(--input-radius-sm);
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.35);
    transition: background-color var(--duration-short) ease-out;
  }

  &__search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.35);
  }

  &__search-input:focus {
    background-color: var(--neutral-100);
  }

  &__search-input:focus ~ &__search-icon {
    fill: var(--ink-100);
  }

  &__search-icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--spacing-xs);
    fill: rgba(255, 255, 255, 0.5);
    width: 2.4rem;
    height: 2.4rem;
  }

  &__clear-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: var(--spacing-xs);
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    outline: none;
    border: none;
    background-color: var(--ink-100);
    border-radius: 50%;
  }

  &__clear-icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--neutral-100);
  }

  &__buttons {
    margin-left: auto;
    display: flex;
  }

  &__buttons > *:first-child {
    margin-right: var(--spacing-md);
  }

  &__user {
    margin-left: auto;
    position: relative;
  }

  &__profile-image {
    cursor: pointer;
    border-radius: var(--radius-sm);
    width: 3.6rem;
    height: 3.6rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    border-radius: var(--radius-lg);
    list-style: none;
    background-color: var(--color-background);
    box-shadow: var(--shadow);
  }

  &__info {
    padding: var(--spacing-sm);
    display: flex;
    align-items: center;
  }

  &__info-image {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
  }

  &__info-text {
    margin-left: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    font-size: var(--size-xs);
  }

  &__info-name {
    font-weight: var(--weight-medium);
    color: var(--color-text);
  }

  &__info-email {
    color: var(--color-text-light);
  }

  &__options {
    border-top: var(--border-narrow);
  }

  &__link,
  &__link:link,
  &__link:active {
    cursor: pointer;
    display: block;
    padding: var(--spacing-sm) var(--spacing-md);
    text-decoration: none;
    font-size: var(--size-sm);
    font-weight: var(--weight-medium);
    color: var(--color-text-light);
    transition: all var(--duration-base) ease-out;
  }

  &__link:hover {
    background-color: var(--color-theme-hover);
  }

  &__link--coral {
    color: var(--coral-300);
  }
}
