@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@900&family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
  // colors
  --cyan-100: #b5f5ec;
  --cyan-200: #87e8de;
  --cyan-300: #13c2c2;
  --cyan-400: #08979c;
  --cyan-500: #006d75;
  --gold-100: #fff1b8;
  --gold-200: #ffd666;
  --gold-300: #d48806;
  --gold-400: #ad6800;
  --gold-500: #613400;
  --neutral-100: #fff;
  --neutral-200: #f6f7fb;
  --neutral-300: #d9dbe2;
  --neutral-400: #b5b8c2;
  --neutral-500: #9799a3;
  --ink-100: #646f90;
  --ink-200: #303545;
  --ink-300: #282e3e;
  --ink-400: #1d202c;
  --ink-500: #14151d;
  --coral-100: #ffccc7;
  --coral-200: #ffa39e;
  --coral-300: #ff4d4f;
  --coral-400: #a8071a;
  --coral-500: #5c0011;
  // --green-100: #d9f7be;
  // --green-200: #b7eb8f;
  // --green-300: #52c41a;
  // --green-400: #389e0d;
  // --green-500: #135200;

  // spacings
  --spacing-xxs: 0.375rem;
  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2.25rem;
  --spacing-xl: 3.25rem;
  --spacing-xxl: 4.25rem;
  --spacing-page-h: 320px;

  // fonts
  --size-xxs: 1.2rem;
  --size-xs: 1.3rem;
  --size-sm: 1.5rem;
  --size-md: 1.6rem;
  --size-lg: 1.8rem;
  --size-xl: 2.4rem;
  --size-xxl: 3.6rem;
  --weight-regular: 400;
  --weight-medium: 600;
  --weight-bold: 700;

  // borders
  --border-cyan: 2px solid var(--cyan-300);
  --border-gold: 2px solid var(--gold-300);
  --border-neutral: 2px solid var(--neutral-400);

  // buttons
  --button-padding-v-xs: 0.5rem;
  --button-padding-v-sm: 0.75rem;
  --button-padding-v-md: 1.25rem;
  --button-padding-v-lg: 2rem;
  --button-padding-h-xs: 1rem;
  --button-padding-h-sm: 1.25rem;
  --button-padding-h-md: 1.75rem;
  --button-padding-h-lg: 2.5rem;
  --button-radius-sm: 0.375rem;
  --button-radius-md: 0.5rem;
  --button-radius-lg: 0.5rem;

  // inputs
  --input-padding-v-sm: 0.75rem;
  --input-padding-v-md: 1.25rem;
  --input-padding-v-lg: 2rem;
  --input-padding-h-sm: 1.25rem;
  --input-padding-h-md: 1.75rem;
  --input-padding-h-lg: 2.5rem;
  --input-radius-sm: 0.375rem;
  --input-radius-md: 0.5rem;
  --input-radius-lg: 0.5rem;

  // radiuses
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.5rem;

  // transition
  --duration-short: 0.125s;
  --duration-base: 0.25s;
  --duration-long: 0.375s;

  // z-index
  --z-index-0: 1;
  --z-index-1: 101;
  --z-index-2: 201;
  --z-index-3: 301;
  --z-index-4: 401;
  --z-index-5: 501;
  --z-index-6: 601;
  --z-index-7: 701;
  --z-index-8: 801;
  --z-index-9: 901;
  --z-index-10: 1001;

  --color-button-text: var(--neutral-100);
  --shadow-light: 0.125rem 0.125rem 0.5rem 0.125rem rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  --color-background: var(--neutral-100);
  --color-background-dark: var(--neutral-200);
  --color-text: var(--ink-200);
  --color-text-light: var(--ink-100);
  --color-primary: var(--cyan-300);
  --color-primary-dark: var(--cyan-400);
  --color-primary-darker: var(--cyan-500);
  --color-secondary: var(--gold-300);
  --color-secondary-dark: var(--gold-400);
  --color-theme: var(--neutral-100);
  --color-theme-dark: var(--neutral-400);
  --color-theme-hover: var(--neutral-300);
  --color-header-background: var(--cyan-500);
  --color-progress-outer: var(--cyan-200);
  --color-progress-inner: var(--cyan-400);

  // borders
  --border: 2px solid var(--neutral-300);
  --border-narrow: 1px solid var(--neutral-300);

  // shadows
  --shadow: 0.125rem 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.1);
  --shadow-big: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.1);

  // background
  --background-dim: rgba(0, 0, 0, 0.5);
}

html.dark {
  --color-background: var(--ink-300);
  --color-background-dark: var(--ink-400);
  --color-text: var(--neutral-100);
  --color-text-light: var(--neutral-300);
  --color-primary: var(--neutral-500);
  --color-primary-dark: var(--ink-100);
  --color-primary-darker: var(--ink-500);
  --color-secondary: var(--gold-300);
  --color-secondary-dark: var(--gold-400);
  --color-theme: var(--ink-100);
  --color-theme-dark: var(--ink-200);
  --color-theme-hover: var(--ink-500);
  --color-header-background: var(--ink-500);
  --color-progress-outer: var(--cyan-500);
  --color-progress-inner: var(--cyan-300);

  // borders
  --border: 2px solid var(--ink-500);
  --border-narrow: 1px solid var(--ink-500);

  // shadows
  --shadow: 0;
  --shadow-big: 0;

  // background
  --background-dim: rgba(0, 0, 0, 0.8);
}

body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: var(--size-md);
  color: var(--color-text);
  overflow-y: scroll;
}

.lock {
  overflow: hidden;
  padding-right: 15px;
}

input,
textarea,
select {
  font-size: inherit;
}

input::placeholder {
  color: var(--neutral-500);
}

input:-ms-input-placeholder {
  color: var(--neutral-500);
}

input::-ms-input-placeholder {
  color: var(--neutral-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-medium);
  color: var(--color-text-light);
}
