@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@900&family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
  // colors
  --teal-100: #b2dfdb;
  --teal-200: #80cbc4;
  --teal-300: #26a69a;
  --teal-400: #00897b;
  --teal-500: #00695c;
  --gold-100: #fff1b8;
  --gold-200: #ffd666;
  --gold-300: #d48806;
  --gold-400: #ad6800;
  --gold-500: #613400;
  --neutral-100: #ffffff;
  --neutral-200: #fafafa;
  --neutral-300: #d9d9d9;
  --neutral-400: #bfbfbf;
  --neutral-500: #9f9f9f;
  --ink-100: #606060;
  --ink-200: #343434;
  --ink-300: #262626;
  --ink-400: #1f1f1f;
  --ink-500: #141414;
  --coral-100: #ffccc7;
  --coral-200: #ffa39e;
  --coral-300: #ff4d4f;
  --coral-400: #a8071a;
  --coral-500: #5c0011;

  // spacings
  --spacing-xxs: 0.375rem;
  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2.25rem;
  --spacing-xl: 3.25rem;
  --spacing-xxl: 3.75rem;

  // fonts
  --size-xxs: 1.2rem;
  --size-xs: 1.3rem;
  --size-sm: 1.5rem;
  --size-md: 1.6rem;
  --size-lg: 1.8rem;
  --size-xl: 2.4rem;
  --size-xxl: 3.6rem;
  --weight-regular: 400;
  --weight-medium: 600;
  --weight-bold: 700;

  // borders
  --border-teal: 2px solid var(--teal-300);
  --border-gold: 2px solid var(--gold-300);
  --border-neutral: 2px solid var(--neutral-400);
  --border-transparent: 2px solid transparent;

  // buttons
  --button-padding-v-xs: 0.5rem;
  --button-padding-v-sm: 0.75rem;
  --button-padding-v-md: 1.25rem;
  --button-padding-v-lg: 2rem;
  --button-padding-h-xs: 1rem;
  --button-padding-h-sm: 1.25rem;
  --button-padding-h-md: 1.75rem;
  --button-padding-h-lg: 2.5rem;
  --button-radius-sm: 0.375rem;
  --button-radius-md: 0.5rem;
  --button-radius-lg: 0.5rem;

  // inputs
  --input-padding-v-sm: 0.75rem;
  --input-padding-v-md: 1.25rem;
  --input-padding-v-lg: 2rem;
  --input-padding-h-sm: 1.25rem;
  --input-padding-h-md: 1.75rem;
  --input-padding-h-lg: 2.5rem;
  --input-radius-sm: 0.375rem;
  --input-radius-md: 0.5rem;
  --input-radius-lg: 0.5rem;

  // radiuses
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.5rem;

  // transition
  --duration-short: 0.125s;
  --duration-base: 0.25s;
  --duration-long: 0.375s;

  // z-index
  --z-index-0: 1;
  --z-index-1: 101;
  --z-index-2: 201;
  --z-index-3: 301;
  --z-index-4: 401;
  --z-index-5: 501;
  --z-index-6: 601;
  --z-index-7: 701;
  --z-index-8: 801;
  --z-index-9: 901;
  --z-index-10: 1001;

  --color-button-text: var(--neutral-100);
  --shadow-light: 0.125rem 0.125rem 0.5rem 0.125rem rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  --color-background: var(--neutral-100);
  --color-background-dark: var(--neutral-200);
  --color-text: var(--ink-200);
  --color-text-light: var(--ink-100);
  --color-primary: var(--teal-300);
  --color-primary-dark: var(--teal-400);
  --color-primary-darker: var(--teal-500);
  --color-secondary: var(--gold-300);
  --color-secondary-dark: var(--gold-400);
  --color-theme: var(--neutral-100);
  --color-theme-dark: var(--neutral-400);
  --color-theme-hover: var(--neutral-300);
  --color-header-background: var(--teal-300);
  --color-progress-outer: var(--neutral-500);
  --color-progress-inner: var(--ink-200);
  --color-landing: var(--teal-400);

  // borders
  --border: 2px solid var(--neutral-300);
  --border-narrow: 1px solid var(--neutral-300);

  // shadows
  --shadow: 0.125rem 0.125rem 1rem 0.125rem rgba(0, 0, 0, 0.2);
  --shadow-big: 0.25rem 0.25rem 2rem 0.25rem rgba(0, 0, 0, 0.2);

  // background
  --background-dim: rgba(0, 0, 0, 0.5);
}

html.dark {
  --color-background: var(--ink-200);
  --color-background-dark: var(--ink-300);
  --color-text: var(--neutral-200);
  --color-text-light: var(--neutral-400);
  --color-theme: var(--neutral-500);
  --color-theme-dark: var(--ink-100);
  --color-theme-hover: var(--ink-300);
  --color-header-background: var(--ink-200);
  --color-progress-outer: var(--neutral-500);
  --color-progress-inner: var(--neutral-100);
  --color-landing: var(--ink-500);

  // borders
  --border: 2px solid var(--ink-100);
  --border-narrow: 1px solid var(--ink-100);

  // background
  --background-dim: rgba(0, 0, 0, 0.8);
}

body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: var(--size-md);
  color: var(--color-text);
  overflow-y: scroll;
  overflow-x: hidden;

  @include tablet-lg {
    overflow-y: auto;
  }
}

.lock {
  overflow: hidden;
  padding-right: 4px;

  @include tablet-lg {
    padding-right: 0;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 15px;
}

html {
  scrollbar-width: auto;
  scrollbar-color: var(--teal-300) var(--neutral-300);
}

::-webkit-scrollbar-track {
  background: var(--neutral-300);
}

::-webkit-scrollbar-thumb {
  background-color: var(--teal-300) ;
  border-radius: 5px;
  border: 2px solid var(--neutral-300);
}

input,
textarea,
select {
  font-size: inherit;
}

input::placeholder {
  color: var(--neutral-500);
}

input:-ms-input-placeholder {
  color: var(--neutral-500);
}

input::-ms-input-placeholder {
  color: var(--neutral-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-bold);
  color: var(--color-text-light);
}

.error-message {
  display: block;
  color: var(--coral-300);
  margin-bottom: var(--spacing-lg);
}
