.button-icon {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;

  &:hover &__icon {
    fill: var(--gold-300);
  }

  &__sm {
    width: 1.8rem;
    height: 1.8rem;
  }

  &__lg {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--ink-200);
    transition: all var(--duration-short) ease-out;
  }
}
