.button-icon {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;

  &:disabled {
    cursor: default;
  }

  &:disabled &__icon {
    fill: var(--color-theme-dark);
  }

  &:disabled:hover &__icon {
    fill: var(--color-theme-dark);
  }

  &:hover &__icon {
    fill: var(--gold-300);
  }

  &:hover &__tooltip {
    opacity: 1;
  }

  &__sm {
    width: 1.8rem;
    height: 1.8rem;

    @include tablet-lg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__lg {
    width: 2.4rem;
    height: 2.4rem;

    @include tablet-lg {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--color-text-light);
    transition: all var(--duration-short) ease-out;
  }

  &__tooltip {
    position: absolute;
    top: 120%;
    left: 50%;
    padding: var(--spacing-xxs) var(--spacing-xs);
    display: block;
    min-width: 8rem;
    transform: translateX(-50%);
    font-size: var(--size-xs);
    font-weight: var(--weight-medium);
    border-radius: var(--radius-sm);
    background-color: var(--color-primary);
    color: var(--color-button-text);
    opacity: 0;
    transition: opacity var(--duration-base) ease-out;
  }
}
