.progress-bar {
  display: flex;
  flex-direction: column;

  &--primary &__outer {
    background-color: var(--color-text-light);
  }

  &--primary &__inner {
    background-color: var(--color-text);
  }

  &--cyan &__outer {
    background-color: var(--teal-100);
  }

  &--cyan &__inner {
    background-color: var(--teal-300);
  }

  &--coral &__outer {
    background-color: var(--coral-100);
  }

  &--coral &__inner {
    background-color: var(--coral-300);
  }

  &--gold &__outer {
    background-color: var(--gold-100);
  }

  &--gold &__inner {
    background-color: var(--gold-300);
  }

  &--ink &__outer {
    background-color: var(--neutral-300);
  }

  &--ink &__inner {
    background-color: var(--ink-200);
  }

  &__outer {
    position: relative;
    width: 20rem;
    height: 1.5rem;
    border-radius: var(--radius-sm);
    overflow: hidden;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all var(--duration-base) linear;
  }

  &__text {
    margin-top: var(--spacing-xxs);
    display: flex;
    justify-content: space-between;
    font-size: var(--size-xs);
    font-weight: var(--weight-medium);
    color: var(--color-text-light);
  }

  &__label {
    text-transform: uppercase;
  }

  &__progress {
    font-weight: var(--weight-bold);
  }
}
