.flashcards {
  user-select: none;
  display: flex;
  flex-direction: column;

  &__stack {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__progress-bar {
    position: relative;
    align-items: stretch;
    width: 100%;
    height: 5px;
    border-radius: 100px;
    background-color: var(--neutral-400);
    overflow: hidden;
  }

  &__progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100px;
    background-color: var(--cyan-300);
    transition: width var(--duration-short) linear;
  }

  &__controls {
    margin-top: var(--spacing-sm);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__controls > *:not(:last-child) {
    margin-right: var(--spacing-xxl);
  }

  &__number {
    width: 10rem;
    text-align: center;
    font-size: var(--size-sm);
    font-weight: var(--weight-medium);
  }

  &__bottom {
    margin-top: calc(3 * var(--spacing-xxl));
    display: flex;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__user:hover &__name {
    color: var(--gold-300);
  }

  &__image-container {
    width: 5.12rem;
    height: 5.12rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__text {
    margin-left: var(--spacing-sm);
    display: flex;
    flex-direction: column;
  }

  &__created-by {
    font-size: var(--size-xs);
    color: var(--ink-100);
  }

  &__name {
    font-weight: var(--weight-medium);
    color: var(--ink-200);
    transition: color var(--duration-short) ease-out;
  }

  &__tools {
    margin-left: auto;
  }

  &__tools > *:not(:last-child) {
    margin-right: var(--spacing-md);
  }

  &__hidden {
    display: none;
  }
}
