.flashcards {
  user-select: none;
  display: flex;
  flex-direction: column;
  min-height: 60vh;

  &__stack {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__progress-bar {
    position: relative;
    align-items: stretch;
    width: 100%;
    height: 5px;
    border-radius: 100px;
    background-color: var(--color-progress-outer);
    overflow: hidden;
  }

  &__progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100px;
    background-color: var(--color-progress-inner);
    transition: width var(--duration-short) linear;
  }

  &__controls {
    margin-top: var(--spacing-sm);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__controls > *:not(:last-child) {
    margin-right: var(--spacing-xxl);
  }

  &__number {
    width: 10rem;
    text-align: center;
    font-size: var(--size-sm);
    font-weight: var(--weight-medium);
  }
}
