.writable-card {
  user-select: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--spacing-xxl);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  background-color: var(--color-background);
  box-shadow: var(--shadow-big);

  @include tablet-lg {
    padding: var(--spacing-lg);
  }

  &__top {
    margin-bottom: var(--spacing-xxl);
    padding-bottom: var(--spacing-md);
    border-bottom: var(--border);
  }

  &__prompt {
    display: flex;
    align-items: center;
  }

  &__answer {
    margin-top: calc(1.5 * var(--spacing-xxl));
    display: flex;
    flex-direction: column;
  }

  &__answer-title {
    color: var(--neutral-500);
  }

  &__answer-text {
    margin-top: var(--spacing-md);
    font-size: var(--size-xl);
    font-weight: var(--weight-medium);
  }

  &__definition {
    flex: 80%;
    margin-right: auto;
    font-size: var(--size-lg);

    @include mobile-lg {
      font-size: var(--size-md);
    }
  }

  &__bottom {
    margin-top: auto;
  }

  &__form {
    display: flex;
    align-items: center;

    @include mobile-lg {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__form > *:not(:last-child) {
    margin-right: var(--spacing-md);

    @include mobile-lg {
      margin-right: 0;
      margin-bottom: var(--spacing-md);
    }
  }
}
