.account {
  &__heading {
    margin-right: var(--spacing-xxl);
    min-width: 20rem;
    border-right: 1px solid var(--neutral-400);
    font-weight: var(--weight-medium);
  }

  &__profile,
  &__password,
  &__security {
    padding: var(--spacing-lg) 0;
    display: flex;
  }

  &__profile {
    margin-top: var(--spacing-xxl);
  }

  &__profile-container {
    display: flex;
  }

  &__profile-fields {
    margin-left: var(--spacing-lg);
  }

  &__profile-fields > *:not(:last-child) {
    margin-bottom: var(--spacing-sm);
  }
}
