.account {
  &__heading {
    margin-right: var(--spacing-xxl);
    min-width: 20rem;
    border-right: var(--border-narrow);
    font-weight: var(--weight-medium);
    color: var(--color-primary);
  }

  &__profile,
  &__password,
  &__security {
    margin: var(--spacing-md) 0;
    padding: var(--spacing-xl);
    display: flex;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-big);
    background-color: var(--color-background);
  }

  &__profile {
    margin-top: var(--spacing-xxl);
  }

  &__profile-container {
    display: flex;
  }

  &__profile-fields {
    margin-left: var(--spacing-lg);
  }

  &__profile-fields > *:not(:last-child) {
    margin-bottom: var(--spacing-sm);
  }
}
