.account {
  &__heading {
    margin-right: var(--spacing-xxl);
    min-width: 20rem;
    border-right: var(--border-narrow);
    font-weight: var(--weight-medium);
    color: var(--color-text);

    @include tablet-lg {
      padding-bottom: var(--spacing-md);
      margin-right: 0;
      margin-bottom: var(--spacing-md);
      border-right: none;
      border-bottom: var(--border-narrow);
      font-size: var(--size-xl);
    }
  }

  &__profile,
  &__password,
  &__security {
    margin: var(--spacing-md) 0;
    padding: var(--spacing-lg);
    display: flex;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-big);
    background-color: var(--color-background);

    @include tablet-lg {
      flex-direction: column;
    }
  }

  &__profile {
    margin-top: var(--spacing-xxl);
  }

  &__profile-container {
    display: flex;
    gap: var(--spacing-md);

    @include desktop-sm {
      flex-direction: column;
    }
  }
}
