.profile-image-form {
  display: flex;
  flex-direction: column;

  &__container {
    width: 16rem;
    height: 16rem;
    border-radius: var(--radius-lg);
    border: 1px solid var(--neutral-500);
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__form {
    width: 16rem;
    display: flex;
  }

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    width: 16rem;
    padding: var(--spacing-xxs) 0;
    text-align: center;
    border-radius: var(--radius-sm);
    background-color: var(--neutral-100);
    color: var(--cyan-300);
    font-weight: var(--weight-medium);
    transition: color var(--duration-short) ease-out;
  }

  &__label:hover {
    color: var(--gold-300);
  }

  &__error {
    font-size: var(--size-sm);
    color: var(--coral-300);
  }
}
