.profile-image-form {
  display: flex;
  flex-direction: column;

  &__container {
    width: 12.8rem;
    height: 12.8rem;
    border-radius: var(--radius-lg);
    border: var(--border);
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__form {
    width: 12.8rem;
    display: flex;
  }

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    margin-top: var(--spacing-xxs);
    width: 12.8rem;
    padding: var(--spacing-xxs) 0;
    text-align: center;
    border-radius: var(--radius-sm);
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: var(--size-sm);
    font-weight: var(--weight-medium);
    transition: background-color var(--duration-short) ease-out;
  }

  &__label:hover {
    background-color: var(--color-secondary);
  }

  &__error {
    font-size: var(--size-sm);
    color: var(--coral-300);
  }
}
